fastapi
uvicorn
python-multipart
streamlit
pypdf       
langchain
langchain-community
langchain-ollama
tavily-python
sentence-transformers
faiss-cpu
redis
rank_bm25
python-dotenv
python-docx
pdfplumber